@model CountryListViewModel
@{
    ViewData["Title"] = "Olympic Countries";
}

<div class="row">
    <div class="col-sm-3">
        <h3>Games</h3>
        <div class="list-group">
            @foreach (Game game in Model.Games)
            {
                <a asp-action="Index" asp-route-activeCat="@Model.ActiveCat" asp-route-activeGame="@game.GameID" class="list-group-item
                @Model.CheckActiveGame(game.GameID)">@game.Name</a>
            }
        </div>
        <h3>Category</h3>
        <div class="list-group">
            @foreach (Category category in Model.Categories)
            {
                <a asp-action="Index" asp-route-activeCat="@category.CategoryID" asp-route-activeGame="@Model.ActiveGame" class="list-group-item @Model.CheckActiveCat(category.CategoryID)">@category.Name</a>
            }
        </div>
    </div>
    <div class="col-sm-9">
        <ul class="list d-flex flex-wrap flex-row justify-content-around">
            @foreach (Country country in Model.Country)
            {
                <li class="list-item col-sm-3 m-auto p-1">
                    <a asp-action="Details" asp-route-id="@country.CountryID">
                        <img src="~/@country.FlagImage" alt="@country.Name"
                         title="@country.Name | @country.Category.Name @country.Game.Name"
                         class="img-fluid"/>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>


